.section-bar{
    padding: 20px;
    background-color: #fff;
    margin-left: 224px;
    margin-top: 57px;
    background-color: #f9f9f9;
    max-width: 100%;
}
.grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 16px;
    margin-left: 0px;
    margin-top: 12px
}
.thumbnail{
    width: 100%;
    max-width: 100%;
    display: inline-block;
    margin-bottom:0px;
    vertical-align: top;
    cursor: pointer;
    margin-bottom: 12px
}


.video-title{
    font-family: Arial;
    font-weight: bold;
    font-size:14px;   
    width: 285px; 
    line-height: 24px;
    margin-bottom:5px;
    margin-top: 0px;
    padding-top:0px;
    cursor: pointer;
}
.video-stats{
    color: grey;
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    
}
.video-author{
    color:grey;
    font-size: 14px;
    margin-bottom:0px;
}
.video-content{
    color:grey;
    margin-top: 20px;
    width: 280px;
}
.Video-description{
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 0px;
    padding: 4px;
}
.author-photo{
    vertical-align: top;
    display: inline-block;
    margin-top: 0px;
    cursor: pointer;
}
.description{
    margin-top: 0px;
    display: inline-block;
}
.small-thumbnail{
    width: 36px;
    border-radius: 36px;
    margin-right: 8px;
    margin-top: 0px;
}
}
.grid-to-unit{
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 122px;
    margin-top: 0px;
}

@media (max-width: 809px)
{
    .grid-section{
        grid-template-columns: 1fr;
    }
}


